{{yield}}
  <div class='partners uk-margin-remove uk-padding' uk-grid>
    <div class='partner-logo uk-width-1-3'><img uk-image src="/assets/images/KF_logo-stacked.png" class="footer-logo uk-align-center" /></div>
    <div class='partner-logo uk-width-1-3'><img uk-image src="/assets/images/emory_logo.png" class="footer-logo uk-align-center" /></div>
    <div class='partner-logo uk-width-1-3'><img uk-image src="/assets/images/GSULogo-Black.png" class="footer-logo uk-align-center" /></div>
  </div>

  <div class="uk-clearfix sub-footer uk-margin-left uk-margin-right uk-margin">
    <div class="uk-float-left">
      <img data-src='/assets/images/atl-bw.png' alt="Logo image" width="" height='' class='' uk-img />
      <a href='http://digitalscholarship.emory.edu/about/center/privacy-policy.html' class='grey-text uk-text-middle' target='_blank'>Terms and Privacy</a>
    </div>
    <div class="uk-float-right">
      <a href='https://www.atlantastudies.org/#atlanta-studies-network' title='Atlanta Studies Network'>
        <span class='atls-logo'></span>
      </a>
      <a href="https://github.com/ecds/ATLMaps" title='Code on GitHub'>
        <i class="fa fa-github fa-2x" aria-hidden="true"></i><span class='sr-only'>ATLMaps on GitHub</span>
      </a>
    </div>
</div>


