{{#uk-switcher left=true animation='uk-animation-fade' as |switcher|}}

  {{#switcher.nav type='tab' as |nav|}}
    {{#nav.component as |tab|}}
      {{#tab.item}}<i class="fas fa-info-circle"></i> Hide{{/tab.item}}
      {{#tab.item}}<i class="fas fa-info-circle"></i> Info{{/tab.item}}
      {{#if model.hasRasters}}
        {{#tab.item}}<i class="fas fa-map"></i> Maps{{/tab.item}}
      {{/if}}
      {{#if model.hasVectors}}
        {{#tab.item}}<i class="fas fa-database"></i> Data{{/tab.item}}
      {{/if}}
      {{#if model.may_edit}}
        {{#tab.item}}<i class="fa fa-cog" aria-hidden="true"></i> Settings{{/tab.item}}
      {{/if}}
    {{/nav.component}}
  {{/switcher.nav}}

  {{#switcher.content as |content|}}
    {{#content.item}}
      <h5>Content 1</h5>
    {{/content.item}}
    {{#content.item}}
      <h5>Content 2</h5>
    {{/content.item}}
  {{/switcher.content}}

{{/uk-switcher}}
