.edit-form {

  margin: 0 auto;
  width: 60%;

  .row {
    button {
      margin: 2em 0;
    }
  }
}

// Style for excel2geojson
.preview {

}

.select,
.geojson,
.preview-detail {

  .leaflet-container {
    height: 25vh;
  }
}

.description-preview {
  border: $primary-color-dark;
}

.static {
  article {
    padding: 2em 4%;
  }
}

// .uk-offcanvas-bar {
//   background: $white !important;
//   color: unset !important;
// }

// .uk-offcanvas-bar .uk-tab > .uk-active > a {
//   color: unset !important;
// }
