// TODO: There is a better way to do this right?
@import 'variables';
@import 'mixins';

// @import 'bourbon', 'neat', 'bitters';
@import 'banner', 'admin', 'marker', 'extra-icons', 'login-form', 'slider', 'search-results', 'base-picker', 'project-pane', 'project-nav', 'social-auth', 'color-picker', 'feature-popup', 'loading', 'embed', 'layer-route'; // Refills

:root {
  // background-color: color('grey', 'lighten-4');
  // color: material-color(md_grey, 600);
  font-size: $base-font-size;
  height: 100vh;

  a {
    color: $primary-color-dark;
    font-size: 1em;

    &.card-link {
      text-decoration: none;
    }
  }

  p {
    a {
      color: $secondary-color;
      text-decoration: underline;
    }
  }

  // Get rid of blue outline in chrome;
  // button {
  //   &:focus {
  //     outline: 0;
  //   }
  // }

  .preloader-wrapper {
    height: 10em;
    margin: 25% 50%;
    width: 10em;

    .circle {
      border-width: 2em;
    }

    .spinner-layer {
      border-color: $secondary-color;
    }

    .navbar-fixed {
      display: none;
    }

    footer {
      display: none;
    }
  }

  button {

    &:focus,
    &:active {
      -webkit-outline: 0;
      user-select: none;
    }
  }

}

a {
  cursor: pointer;
}

form {
  input,
  textarea {
    &:invalid {
      border: 2px solid color('red', 'lighten-3');
    }
  }

  &.one-line {
    margin: 0;
  }
}

.content {
  height: 100vh;
}

// .project {
//   overflow: hidden;
// }

// .secondary-conent {
//   i {
//     color: color('grey', 'base');
//   }

//   &.raster {
//     float: right;
//     padding-right: 3px;
//   }
// }

.fullscreen-map {
  bottom: 0;
  display: block;
  //height: 100vh;
  height: calc(100vh - #{$navigation-height});
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100vw;
}

.embed-map {
  height: 100vh;
}

.atlmap,
.leaflet-container {
  height: 100%;
  width: 100%;
}

// .material-icons {
//   font-size: 1.5em;
// }

.exit {
  padding-bottom: .25em;
  transform: rotate(180deg);
}

header {
  &.navigation {
    background: $primary-color-dark;
    top: 0;
  }
}

.project-nav {
  .active {
    background-color: $secondary-color;

    &:hover {
      background-color: color('blue-grey', 'lighten-3');
    }
  }
}
// Leaflet Controls

.leaflet-top {
  &.leaflet-right {
    top: 5em;
  }
}

.close-button {
  cursor: pointer;
  padding-top: .5em;
}

textarea {
  &.description {
    height: 18rem;
  }
}

.delete-project {
  color: $secondary-color-light;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }
}

.uk-notification {
  text-transform: uppercase;
}

.layers-layer-item {
  background-color: transparent;
}

@import 'ember-power-select';

// Power Select Overrides
.ember-basic-dropdown-content--below {
  // border-left: 0;
  // border-right: 0;
}

.ember-power-select-options {
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

// Leaflet attribution
.leaflet-control-attribution {
  background-color: transparent !important;
  color: $white;
  cursor: pointer;
  font-size: 2em;
  height: 24px;
  max-width: 29px;
  padding-right: 1em;
  transition: max-width $rabbit, color $turtle;
  will-change: max-width, color;

  &:hover {
    background: rgba(255, 255, 255, .7) !important;
    color: $black;
    max-width: 100%;
  }

  i {
    color: $black;
    float: right;
    font-size: 2em;
    margin-bottom: 1em;
    padding-left: .5em;
  }
}

// shareable-link
.shareable-link {
  padding: 1em;
}

.inline-image {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 300px;
}

.ember-tooltip,
.ember-popover {
  z-index: 5000;
}

.leaflet-div-icon {
  background: transparent;
  border: 0;

  i {
    font-size: 2em;
  }
}

@import 'ember-uikit';

footer {
  .partners {
    background: $primary-color;

    img {
      height: 75px;
    }
  }

  .sub-footer {
    line-height: 0;

    img {
      height: 35px;
    }

    .atls-logo {
      font-size: 2.5em;
    }

    .fa-2x {
      font-size: 2em;
    }
  }
}
