.embed-header {
  background: $half-faded-black;
  color: $white;
  font-size: 1.5em;
  height: 3em;
  margin: 0 !important;
  position: absolute;
  width: 100vw;
  z-index: 9999;

  a {
    color: $white !important;
  }

  i {
    padding-left: .5em;
  }

  &.embed-raster {
    i {
      font-size: 1.75em;
    }

    .embed-title {
      padding-top: .25em;
    }

    .embed-slider {
      background: none;
      margin-top: 0 !important;
      padding-bottom: 1em;
    }
  }
}

.embed-menu {
  .uk-offcanvas-bar {
    background: $white;
    width: 50vw;
  }
}

.watermark {
  bottom: .5em;
  opacity: .5;
  position: absolute;
  right: 8px;
  z-index: 999;

  &:hover {
    opacity: 1;
  }
}
