@font-face {
  font-family: 'atlmaps-ext';
  src: url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.eot'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.ttf'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.eot#iefix') format('embedded-opentype'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.woff') format('woff'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.ttf') format('truetype'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.svg#atlmaps-ext') format('svg');
}

@mixin polygon {
  &::before {
    content: '\e802';
    font-family: 'atlmaps-ext';
  }
}

i {
  &.atlmaps-ext {
    font-family: 'atlmaps-ext';
  }
}

.layer-list-item-icon {
  font-style: normal;

  &.geometry-collection {
    @include polygon;
  }

  &.multi-olygon {
    @include polygon;
  }

  &.polygon {
    @include polygon;
  }

  &.line-string {
    &::before {
      content: '\e803';
      font-family: 'atlmaps-ext';
    }
  }
}

.atls-logo::before {
  content: '\e804';
  font-family: 'atlmaps-ext';
  font-size: .7em;
  line-height: .55em;
  position: relative;
  right: .2em;
  vertical-align: text-bottom;
}

.fa-drag-handle {
  &::before {
    content: '\f142 \f142';
    font-family: 'FontAwesome';
    font-size: 2rem;
    letter-spacing: .1em;
  }
}
