
.project-nav {
  position: absolute;
  top: $navigation-height;
  z-index: 444;

  &.hide-nav {
    .hideable {
      transform: scaleY(0);
    }

    // i {
    //   transform: rotate(180deg);
    // }

    .uk-tab-left {
      &::before {
        border-left: 0;
      }
    }
  }

  .project-nav-button {
    transform: scaleY(1);
    transform-origin: top;
    transition: 300ms ease-in-out;
  }

  .uk-tab {
    left: $control-left;
    top: $control-left;
    width: $project-nav-width;

    li:first-of-type {
      border-top-left-radius: 10px;

      i {
        transition: transform 300ms ease-in-out;
      }

      &.uk-active {
        i {
          transform: rotateX(180deg);
        }
      }
    }

    li:last-of-type {
      border-bottom-left-radius: 10px;
    }

    li {
      background-color: $primary-color;
      font-size: 1em;

      i {
        font-size: 1.5em;
      }

      a {
        color: $white;
        text-align: center;
        transition: background-color $rabbit;
        transition-timing-function: ease-in-out;
      }

      &:hover {
        background-color: $secondary-color-light;
        box-shadow: $shadow;
        color: color('grey', 'darken-3');
      }

      &.uk-active {
        background: $secondary-color;
      }
    }
  }
}

header {
  &.navigation {

    background-color: $primary-color-dark;
    position: fixed;
    width: 100vw;
    z-index: 999;

    .uk-navbar-nav > li > a {
      color: $white;
      max-height: $navigation-height;
      text-transform: none;

      &.logo {
        color: $white;
        font-size: 1.75em;

        img {
          max-height: calc(#{$navigation-height} - .5em);
          padding-right: .5em;
        }
      }
    }
  }
}

// .project-nav-buttons {
//   li:first-of-type {
//     opacity: 0;
//     &.uk-active {
//       i {
//         transform: rotate(90deg);
//       }
//     }
//   }
// }
