.project-title {
  font-size: 1.5em;
  line-height: 1em;
  margin-left: 98px;
  top: calc(#{$navigation-height} + #{$control-left});
  width: 30vw;
  z-index: 445;
}

.project-card {
  margin-left: $control-left !important;
  margin-top: calc(#{$navigation-height + 5} + #{$control-left}) !important;
  padding-left: 0 !important;
  width: 30vw !important;

  .uk-switcher {
  }

  .uk-card-body {
    max-height: calc((100vh - #{$project-title-height}) - (#{$bottom-left-map-controls} + (#{$navigation-height} * 2)));
  }

  .uk-active {
    margin-top: $navigation-height;
  }

  .uk-drop {
    &.uk-open {
      background: lightgray;
      display: contents;
    }
  }
}

.uk-accordion-title {
  cursor: pointer;

  &::after {
    // Get rid of the UIkit +/- icon.
    background-image: none !important;
  }
}

.sortable-raster-list,
.data-layer {
  border-color: $primary-color-light;
  border-radius: 10px;
  border-style: solid;
  padding: 1em;

  .uk-accordion-title {
    &::after {
      height: auto !important;
    }
  }

  .uk-card-header,
  .uk-card-body {
    border-bottom: 0 !important;
    padding: 0 !important;
  }

  &.uk-open {
    .uk-card-header {
      border-bottom: 1px solid #e5e5e5 !important;
    }

    .uk-accordion-title {
      padding-bottom: 1em !important;
    }
  }
}

.slider-label {
  margin-top: .5rem;
}

.fa-checkbox {
  input {
    display: none;
  }
}

.wysiwyg-container {
  width: 95%;

  .pell-actionbar {
    button {
      color: $primary-color;

      &:hover {
        background: unset;
      }
    }
  }
}


.project-pane {
  display: none;
// // Very literal code for the HOLC layer.
// .color-key {
//   // sass-lint:disable-block no-color-literals
//   display: flex;
//   font-size: 1.2em;
//   padding: 1em 0;
//   text-transform: capitalize;

//   ul {
//     list-style: none;
//   }

//   li {
//     border: 0;
//     float: left;
//     margin-right: 10px;
//   }

//   span {
//     border: 1px solid #ccc;
//     float: left;
//     height: .75em;
//     margin: 2px;
//     width: .75em;
//   }

//   .color-key-0 { background-color: #4caf50; }
//   .color-key-1 { background-color: #1e88e5; }
//   .color-key-2 { background-color: #ffeb3b; }
//   .color-key-3 { background-color: #f44336; }
}
