
.project-nav {
  position: absolute;
  top: $navigation-height;
  z-index: 444;

  .uk-tab {
    width: $project-nav-width;
  }

  .project-nav-buttons {
    li {
      background-color: color('blue-grey', 'darken-1');

      a {
        color: color('grey', 'lighten-5');
        text-align: center;
        transition: background-color $rabbit;
        transition-timing-function: ease-in-out;
      }

      &:hover {
        background-color: color('blue-grey', 'lighten-3');
        box-shadow: $shadow;
        color: color('grey', 'darken-3');
      }

      &.uk-active {
        background: $secondary-color;

        a {
          color: color('grey', 'lighten-5');
        }
      }
    }
  }
}

header {
  &.navigation {
    $navigation-color: transparentize($white, .3);

    background-color: $primary-color-dark;
    position: fixed;
    width: 100vw;
    z-index: 999;

    .uk-navbar-nav > li > a {
      color: $navigation-color;
      max-height: $navigation-height;
      text-transform: none;

      &.logo {
        color: $white;
        font-size: 1.75em;

        img {
          max-height: calc(#{$navigation-height} - .5em);
          padding-right: .5em;
        }
      }
    }
  }
}
