// Find Layers button
button {
  &.show-search {
    background-color: $secondary-color;
    border-radius: 10px;
    color: $white;
    font-size: 1.25em;
    position: absolute;
    right: $control-left;
    top: calc(#{$navigation-height} + #{$control-left});
    z-index: 999;
  }
}

// Actual Pane
.search-panel-container {
  .uk-offcanvas-bar {
    padding: 0 !important;
    top: $navigation-height !important;

    .uk-tab {
      background: $white !important;
      margin-left: 0;
      padding-top: $navigation-height !important;
    }

    .uk-switcher {
      padding-left: $navigation-height !important;
      padding-right: $navigation-height !important;
    }
  }

  @media (min-width: 960px) {
    .uk-offcanvas-bar {
      width: 33vw !important;
    }
  }
}

.text-search {
  &.uk-form-controls {
    margin-left: 0;
  }
}

// Tabs
.search-results {
  .uk-tab {
      position: fixed;
      width: 100%;
  }

  ul {
    &.uk-switcher {
      margin-bottom: calc(#{$navigation-height} + 2em);
      // margin-top: calc(#{$navigation-height} + #{$search-tab-height});
    }

    li {
      flex: 1;

      a {
        i {
          font-size: 2em;
          margin-bottom: .5rem;
        }

        .uk-badge {
          margin-top: -2rem;
          position: absolute;
        }
      }
    }
  }

  .scroll-anchor {
    height: calc(#{$navigation-height} + #{$search-tab-height});
  }

  .uk-pagination {
    background: $white;
    bottom: 0;
    height: calc(#{$navigation-height} + 1em);
    left: 0;
    margin: 0;
    padding-top: 1em;
  }

  label {
    display: inline-block;
  }
}

.search-result-tabs > ul > li > a {
  font-size: 1.5rem;
}

// Results
.atl-search-results-list {
  &.uk-panel-scrollable {
    border: 0;
    resize: none;
  }


  label {
    font-size: 1.2rem;
  }

  input {
    display: none;
  }
}

.atl-search-results-container {
  height: calc(100vh - 200px);
}

.uk-description-list > dt {
  text-transform: none !important;
}

