.value {
  display: none;
}

.thumb {
  &.active {
    display: none;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  cursor: ew-resize;
  margin: 10.2px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: $secondary-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ddd , $secondary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ddd, $secondary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ddd, $secondary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ddd , $secondary-color); /* Standard syntax */
  border-radius: 5.6px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  // box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #eceff1;
  cursor: ew-resize;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: $secondary-color;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]:hover::-webkit-slider-thumb {
  height: 32px;
  margin-top: -13px;
  width: 32px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: $secondary-color;
  border-radius: 5.6px;
  border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #eceff1;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background: $secondary-color;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1.6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #f47b11;
  border: 0px solid #010101;
  border-radius: 11.2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
  background: $secondary-color;
  border: 0px solid #010101;
  border-radius: 11.2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #eceff1;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background: $secondary-color;
  height: 1.6px;
}

input[type=range]:focus::-ms-fill-lower {
  background: $secondary-color;
}

input[type=range]:focus::-ms-fill-upper {
  background: #f68b2f;
}
