{{input type='checkbox' id='toggle-bounds' change=(action 'searchBounds')}} <label for='toggle-bounds'>Search this area</label>

{{#if this.moved}}
<button {{action 'updateBounds'}} class='update-bounds'>Search this area</button>
{{/if}}
