<dl class='uk-description-list uk-description-list-divider atl-search-results-list'>
  {{#each layers as |layer|}}
    <dt>
      {{#extras/fa-checkbox checked=layer.activeInProject change=(action addRemoveLayer layer)}}
        {{if layer.title layer.title "Loading..."}}
      {{/extras/fa-checkbox}}
    </dt>
    <dd>
      {{#if layer.description}}
        {{{layer.safe_description}}}
      {{else}}
        <span>Description missing.</span>
      {{/if}}
    </dd>
  {{else}}
    <h4>No layers found</h4>
    <h5>Use the filters under the search tab to find layers.</h5>
  {{/each}}
</dl>
