<label class='uk-form-label' for='search-text'>Search</label>
<div class='uk-form-controls'>
    {{input type='search' class='uk-input' id='search-text' name='textsearch' value=searchTerms enter='search' placeholder='Search for terms...'}}
    <button class='uk-button uk-button-default' {{action 'search'}}>search</button>
</div>
